* {box-sizing: border-box; margin:0;}

body{
  background-color: black;
}

#all{
  /* background-image: linear-gradient(to right top, #727881, #565960, #3c3d41, #222224, #040404); */
  background-color: black;

}

/* Primera pagina */
.one_page{
/* height: 1150px; */
background-image: url("../images/coche_arduino.png");
background-repeat: no-repeat;
background-position: center;
background-size: 1024px;
height: 1024px;
width: 100%;
border-bottom: thin solid white;
border-width: thick;
}

#title_one_page{
  text-align: center;
  /* padding-top: 1%; */
  font-family: 'Germania One', cursive;
  color: white;
  font-size: 80px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0 black, 3px 4px 0 yellow;

}

#img_coche_arduino{
padding-top: 1%;
padding-left: 5%;
width: 1024px;
}

#menu_left{
  float: left;
  /* padding-left: 1%; */
  width: 500px;
  height: 100%;

}

.text_one_page{
  font-size: 50px;
  font-family: fantasy;
  color: white;
  font-style: italic;
  font-family: 'VT323', monospace;
  text-align: right;
  text-shadow: 2px 2px 0 black, 3px 4px 0 green;
}

#sencillo {
  margin-right: 200px;
}

#rapido {
  margin-top: 180px;
  margin-right: 100px;
}

#autonomo {
  margin-top: 190px;
  margin-right: 10px;
}

/* POSITS */
#posit1{
  float: right;
  /* position: absolute; */
  margin-top: -720px;
  margin-right: 170px;
}

#chincheta_posit1{
  float: right;
  position: relative;
  margin-top: -730px;
  margin-right: 170px;
}

#posit2{
  float: right;
  margin-top: -400px;
  margin-right: 50px;
}

#chincheta_posit2{
  float: right;
  position: relative;
  margin-top: -415px;
  margin-right: 50px;
}

#posit3{
  float: right;
  margin-top: -90px;
}

#chincheta_posit3{
  float: right;
  position: relative;
  margin-top: -100px;
  margin-right: -190px;
}

.title_posits{
color: blue;
}

h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  /* overflow:hidden; */
  padding:3em;
  margin-top: 50px;
}

ul li a{
  text-decoration:none;
  color:black;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

ul li{
  margin:1em;
  /* float:left; */
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:15px;
}
ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:yellow;}


/* Menu */
#see_menu{
  margin-top: -93px;
  background-color: white;
  cursor: pointer;
  position: fixed;
  margin-left: 0;
}

#hide_menu{
  margin-top: -330px;
  margin-left: 190px;
  position: relative;
  float: right;
  display: none;
  position: fixed;
  cursor: pointer;
}

 #sections_menu{
  position: fixed;
  background-image: linear-gradient(to right top, #000307, #1f2021, #373839, #525252, #6d6d6d);
  display: none;
  font-size: 25px;
  color: white;
  padding: 28px;
  border: thin solid white;
  height: 101%;
  width: 270px;
  padding-top: 70px;
  margin-top: -95;
  margin-left: -5px;
}

.class_sections{
  cursor: pointer;
  font-style: italic;
  border-bottom: thin solid white;
  margin-bottom: 15px;
  text-shadow: 2px 2px green;
}

/* Para cuando haga click en los botones del menu */
.class_sections:active{
  transform: translateY(4px);
}

#title_sections_menu{
  text-align: center;
  border-top: thin solid white;
  border-bottom: thin solid white;
  margin-bottom: 15px;
}

/* Seguna pagina */
#segon_page{
  width: 100%;
  height: 1250px;
  background-color: rgb(81, 240, 131);
}

hr{
  height: 15px;
  width: 100%;
  background-color: white;
  float: left;
}

/* Segunda pagina */
#segon_page_title{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 4px;
  font-size: 60px;
  text-shadow: 2px 2px 0 rgb(0, 106, 1), 3px 4px 0 black;
  padding-top: 50px;
  margin-bottom: 25px;

}

/* Circulos */
.circulo {
  margin-top: 2%;
  width: 500px;
  height: 500px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(158,232,169,1) 12%, rgba(138,244,154,1) 25%, rgba(51,147,60,1) 46%, rgba(9,64,0,1) 100%);
  float: left;
  margin-left: 70px;
  border: medium solid white;
  cursor: cell;
  box-shadow: 9px -4px 0px 4px rgba(143,143,143,1);
}

#circulo1{
  margin-left: 320px;
}

#circulo2{
  margin-left: 200px;
}

#circulo3{
  margin-left: 320px;
}

.circulo img{
  border-radius: 1000px;
  border: thin solid white;
  border-width: 5px;
}

.title_circle{
  text-align: center;
  margin-top: 70px;
  font-size: 32px;
  color: blue;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

#img_sensor{
margin-left: 70px;
margin-top: 50px;
}

#img_servo{
margin-left: 120px;
margin-top: 15px;
}

#img_personalizacion{
margin-left: 9%;
margin-top: 5%;
}


#circulo1:hover {
  box-shadow: 6px 5px 7px 4px rgba(255,255,255,1);
}

.circle_back{
  display: none;
  text-align: justify;
  font-size: 20px;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
}


.circulo:hover > .circle_back {
  animation: showup_text_circle 1s forwards;
  display: block;

}

.circulo:hover img{
  opacity: 0;
}



#circulo2:hover {
box-shadow: 6px 5px 7px 4px rgba(255,255,255,1);
}

#circulo3:hover {
box-shadow: 6px 5px 7px 4px rgba(255,255,255,1);
}

/* Tercera pagina ( Materiales ) */
#third_page{
  background-color: #f3f99d;
  height: 1124px;
}

#third_page_title{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 4px;
  font-size: 40px;
  text-shadow: 2px 2px 0 green, 3px 4px 0 green;
  padding-top: 50px;
  margin-bottom: 25px;
}

.divs_materials{
  float: left;
  width: 25%;
  text-align: center;
  margin-left: 4%;
  margin-top: 3%;
}

.divs_materials p{
  margin-bottom: 1%;
  font-style: italic;
  font-weight: bold;
  color: #7e8504;
  cursor: pointer;
}

.divs_materials a{
  text-decoration: none;
}

.all_images_materials{
  /* width: 80%; */
  /* width: 350px; */
  border: thin solid white;
  border-width: 5px;
  border-radius: 50px;
  padding: 5px;
}

/* clearfix */
.divs_materials::after {
  content: "";
  clear: both;
  display: table;
}

/* Quito un poco de margen porque tiene 2 lineas de texto la imagen */
#div_controlador_motores_materials{
  margin-top: 2%;
}


/* Cuarta pagina */
#fourth_page{
  background-color: red;
  height: 900px;
}

#fourth_page_title{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 4px;
  font-size: 40px;
  text-shadow: 2px 2px 0 yellow, 3px 4px 0 black;
  padding-top: 50px;
  margin-bottom: 25px;
}



/* Carousel */
.img_carousel{
  border: thin solid white;
  border-style: inset;
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-width: 5px;
  padding: 5px;
}

#inside_carousel{
  float: left;
  margin-top: 50px;
  margin-left: -175px;
}

.img_carousel_displaynone{
  display: none;
}

/* clearfix */
#carousel::after {
  content: "";
  clear: both;
  display: table;
}

#title_carousel{
  margin-left: 250px;
}

.title_into_carousel{
  float: left;
  font-family: 'Germania One', cursive;
  color: white;
  text-shadow: 7px 0px 5px black;
}

#div_buttons{
  float: left;
  margin-top: 580px;
  margin-left: -590px;
}

.buttons{
  margin-top: -350px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.buttons:hover{
  transition: all 0.3s ease-in;
  background-color: rgb(255, 255, 255);
  color: black;
}


/* Button next */
#button1{
  margin-left: 530px;
}
/* Button previous */
#button2{
  margin-left: -30px;
}

#videos{
  margin-left: 1000px;
}


#inside_carousel_videos{
  float: left;
  margin-top: 12px;
}

#title_videos{
  float: none;
}

.videos_carousel{
  width: 700px;
  position: absolute;
  border: thin solid white;
  border-style: inset;
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-width: 5px;
  padding: 5px;
  background-color: black;
}

.videos_carousel_displaynone{
  display: none;
}

#div_buttons_video{
  position: absolute;
  margin-top: 520px;
  margin-left: -40px;
}

#button4{
  margin-left: 695px;
}

/* Quinta pagina */
#fifth_page{
  height: 1024px;
  background-color: rgb(138, 231, 228);
}

#fifth_page_title{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 6px;
  font-size: 40px;
  text-shadow: 2px 2px 0 rgb(0, 106, 1), 3px 4px 0 red;
  padding-top: 50px;
  margin-bottom: 25px;
}


/* Todo lo del contacto lo pongo en el centro */
#form_contact{
  margin-left: 41%;
  /* width: 900px; */
  width: 52%;
  text-align: justify;
}

/* Los titulos del texto de antes del formulario */
#form_contact h1{
  color: white;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  font-family: serif;
}

#form_contact p{
  font-size: 20px;
  font-family: inherit;
  margin-left: 15px;
  margin-top: 5px;
}

#inside_form_contact{
  /* background-color: rgb(13, 96, 96); */
  float: left;
  width: 450px;
  height: 520px;
  margin-left: -530px;
  margin-top: -510px;
  border: thin solid white;
  border-radius: 20px;
  padding: 20px;
  border-width: 4px;
  background-color: #018784;
}

#title_form_contact{
  color: white;
  margin: 20px;
  text-align: center;
  font-style: normal;
  font-size: 38px;
}

#inside_form_contact input{
  width: 90%;
  border: thin solid black;
  border-radius: 5px;
  padding: 3px;
}

/* Margen top a todas las div del formulario */
.div_label_input{
  margin-top: 15px;
  font-size: 18px;
  color: white;
}

/* Input del mensaje */
#input_msg{
  margin-top: 5px;
  width: 400px;
  height: 120px;
  border: thin solid rgb(0, 110, 121);
}

#boton_enviar{
  margin-top: 15px;
  cursor: pointer;
  padding: 40px;
  width: 100%;
  font-size: 25px;
  color: white;
  background-color: #005b59;
  border: thin solid white;
  border-width: 2px;
  border-radius: 10px;
  text-align: center;
}

#boton_enviar:active{
  background-color: white;
  color: #005b59;
  border: thin solid #005b59;
}

#hr1{
  width: 100%;
  height: 7px;

  background-color: white;
}

#hr2{
  width: 100%;
  height: 7px;

  background-color: white;
}

#hr3{
  width: 100%;
  height: 7px;

  background-color: white;
}
/* Le quito el margen a la primera div de la label y input
para que no tenga mas margen que los demas ya que tiene un padding */
#first_label_input{
  margin-top: 0px;
}

/*div mensaje de error al enviar la consula.*/
#div_mensaje_error{
  margin-top: 10px;
  color: red;
  font-size: 15px;
  font-style: italic;
  border: thin solid white;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
}

#div_mensaje_enviado{
  margin-top: 10px;
  color: #174d00;
  font-size: 20px;
  font-style: italic;
  border: thin solid white;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
9}


/* Footer */
#footer{
  background-image: linear-gradient(to right top, #000307, #1f2021, #373839, #525252, #6d6d6d);
  color: white;
  font-family: fantasy;
  font-size: 15px;
  border-top: thin solid black;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#footer a{
  font-style: italic;
  color: white;
}

#footer img{
  margin-left: 20px;
  cursor: pointer;
}

/* ANIMACIONES */
/* Animacion para la entrada de sections_menu */
@keyframes menu_animation_entry {
  0% {opacity: 0;transform: translate3d(-100%, 0, 0);}
  100% {opacity: 1;}
}

/* Animacion para la salida del sections_menu */
@keyframes menu_animation_exit {
  0% {opacity: 1;}
  100% {opacity: 0;transform: translate3d(-100%, 0, 0);}
}

@keyframes entry_hide_menu {
0% {opacity: 0;}
100% {opacity: 1; display: block;}
}

@keyframes exit_hide_menu {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes hover_circle {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(90deg);}
  60% {transform: rotateX(100deg); opacity: 0;}
  100% {transform: rotateX(180deg); display: none; opacity: 0;}
}

@keyframes showup_text_circle {
  0% {transform: rotateX(180deg); }
  50% {transform: rotateX(100deg); }
  60% {transform: rotateX( 90deg); }
  100% {transform: rotateX(0deg); }
}

@keyframes next_image {
  0% {opacity: 1;}
  90% {opacity: 0;}
  100$ {display: none;}
}

@keyframes see_next_image{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* Para los portatiles */
@media only screen and (max-width: 1500px) {
  .one_page{
    background-position: left;
  }

  #circulo1{
    margin-left: 150px;
  }

  #circulo2{
    margin-left: 50px;
  }

  #circulo3{
    margin-left: 150px;
  }

  #third_page{
    height: 900px;
  }
  /* Configuro las imagenes del apartado de los materiales */
  .all_images_materials{
    width: 250px;
  }

}

/* Para los portatiles el carousel */
@media only screen and (max-width: 1800px) {
  /* Pongo la pagina mas larga para que no se monte la galeria con el footer*/
  #fourth_page{
    height: 1400px;
  }

  /* Para que en el apartado de galeria se ponga las imagenes encima y debajo los videos 7
  envez de estar al lado  */
  #title_carousel{
    float: none;
    margin-left: 350px;
    margin-bottom: 0;
  }

  #inside_carousel{
    float: none;
    margin-left: 350px;
    margin-top: 12px;
  }

  #div_buttons{
    position: absolute;
    margin-top: 70px;
  }

  #button1{
    margin-left: 1510px;
  }

  #button2{
    margin-left: 950px;
  }
  #videos{
    float: none;
    margin-top: 50px;
    margin-left: 350px;
  }

  #div_buttons_video{
    position: absolute;
    margin-top: 520px;
    margin-left: -38px;
  }

  #button4{
    margin-left: 694px;
  }

}
