/* CSS para los moviles y tablets*/
@media only screen and (max-width: 1000px) {

/* Menu */
#sections_menu{
  width: 102%;
  text-align: center;
  margin-top: -145px;
  height: 100%;
  font-size: 35px;
}

.class_sections{
  padding-top: 35px;
}


#hide_menu{
  margin-top: -580px;
  margin-left: 85%;
}

.one_page{
  background-image: url("../images/coche_arduino.png");
  background-position: top;
  background-size: 100%;
  background-color: black;
  width: 100%;
  height: 1100px;
  }

#sencillo{
  float: left;
  font-size: 100%;
  margin-left: 65%;
  margin-top: 650px;
  position: absolute;
}


#rapido{
  float: left;
  position: absolute;
  font-size: 100%;
  margin-left: 40%;
  margin-top: 650px;
}

#autonomo{
  float: left;
  position: absolute;
  font-size: 100%;
  margin-top: 650px;
  margin-left: 5%;
}

#posit1{
  margin-left: 55%;
  float: left;
  margin-top: 650px;
  position: absolute;
}

#chincheta_posit1{
  display: none;
}

#posit2{
  position: absolute;
  float: left;
  margin-top: 50%;
  margin-top: 650px;
}

#chincheta_posit2{
  display: none;
}

#posit3{
  float: left;
  position: absolute;
  margin-top: 650px;
  margin-left: 30%;
}

#chincheta_posit3{
  display: none;
}


#segon_page{
  width: 100%;
  height: 1800px;
  background-color: rgb(81, 240, 131);
}

.circulo img{
  max-width: 100%;
}

#circulo1{
  float: left;
  margin-top: 20px;
  margin-left: 12%;
}

#circulo2{
  float: left;
  margin-top: 35px;
  margin-left: 12%;
}

#circulo3{
  float: left;
  margin-top: 35px;
  margin-left: 12%;
}

#third_page{
  width: 100%;
  height: 1154px;
}

.divs_materials{
  width: 35%;
}

#fourth_page{
  background-color: red;
  height: 1600px;
  width: 100%;
  float: left;

}

#fourth_page_title{
  margin-left: 35%;
}

.title_into_carousel{
  text-align: center;
  margin-top: 50px;
}

#galeria{
  margin-left: -400px;
}

.img_carousel{
  width: 90%;
  margin-left: 55px;
}

.videos_carousel{
  width: 100%;
  float: left;
  margin-left: 50px;
}

#div_buttons{
    position: relative;
}

#button1{
  float:right;
  margin-right: 15%;
  margin-top: -60px;
  width: 50px;
}

#button2{
  float:right;
  margin-right: 25%;
  margin-top: -60px;
  width: 50px;
}

#title_videos{
  margin-top: 120px;
}

#inside_carousel_videos{
  margin-right: 60px;
  margin-bottom: 15%;
}

.videos_carousel{
  width: 100%;
  position: static;
}

#div_buttons_video{
  display: absolute;
  margin-top: 830px;
  /* margin-top: 100%; */
  margin-left: 62%;
  float: left;
  margin-bottom: 0;
}

#button3{
  float: left;
  width: 50px;
  margin-left: -160;
}

#button4{
  float: left;
  width: 50px;
  margin-left: 0px;
}


#fifth_page{
background-color: rgb(138, 231, 228);
width: 100%;
height: 1124px;
}

#contacto{
  background-color: rgb(138, 231, 228);
}

#form_contact{
  text-align: justify;
  margin-left: 27%;
}

#text_form_contact{
  color: blue;
}

#inside_form_contact{
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
}

#input_msg{
  width: 100%;
}
/* clearfix */
#contacto::after {
  content: "";
  clear: both;
  display: table;
}

#footer{
  float: left;
}

}
